.form {
  display: flex;
  gap: 4px;
}

.field {
  flex-grow: 1;
  padding: 8px;
  font: inherit;
  border: 1px solid grey; 
}

.field:focus {
  outline: none; 
  border: 1px solid #1976d2; 
}
.error {
  color: red;
}

.error_field {
  border: 1px solid red; 
}